body {
    background-color: rgb(154, 32, 76);
}


/* Measurements - margin , padding, dimensions */
.heading {
    background-color: #c9622a;
    width: 40%;
    height: 50px;
    /* margin: 50px 50px 30px 50px;  /* top right bottom left */
    /* margin: 100px 200px;  /* vertical and horizontal */
    /* margin: 30px;  /* all side same margin */
    margin-left: 30px;
    padding: 5%;
    text-align: center;

}

.para {
    background-color: rgba(51, 157, 32, 0.4);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.box {
    background-color: aqua;
    width: 200px;
    height: 100px;
    font-size: 2em;   /* 1em = 16px */
    text-align: center;
    border-radius: 50px;
}

img {
    width: 200px;
    height: 200px;
    border: 10px solid rgb(255, 255, 255);  /* width style color */
    border-radius: 10%;
}


/* Display and Position */
h3 {
    display: inline;

}
span {
    width: 50px;
}
div {
    /* display: inline-block; */
    width: 200px;
    height: 200px;
}
.bbox1 {
    background-color: red;
    /* position: static; */
}
.bbox2 {
    background-color: greenyellow;
    position: absolute;
    /* margin-block-end: -50px; */
}
.bbox3 {
    background-color: blue;
    position: relative;
    bottom: 30px;
    left: 50px;
    margin-top: 50px;
}
* {
    /* margin: 0px; */
}